<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mobi.mateam.alarma">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity
        android:name=".view.activity.main.MainAlarmActivity"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="92337d74fb0c453453e5a748478637d5aa9ca207"/>
    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyCh718zcOUSsb96vlhay_goY2Gtly60dRE"/>

    <service
        android:name=".alarm.AlarmService"
        android:enabled="true"
        android:exported="false">
    </service>

    <receiver
        android:name=".alarm.BootCompleteReceiver"
        android:enabled="true"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
    </receiver>

    <activity
        android:name=".view.activity.AlarmActivity"
        android:label="@string/title_activity_alarm"
        android:parentActivityName=".view.activity.BaseActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="mobi.mateam.alarma.view.activity.BaseActivity"/>
    </activity>
  </application>

</manifest>